<suite name="Portal_Test_Suite" verbose="1">
	<listeners>
		<listener class-name="Portal.Utilities.ExtentReporterNG" />
	</listeners>
	<test name="Regression_Test">
		<classes>
			<class name="Portal.TestCases.AdministrationTests" > 
             <methods> 
			 <include name="Test_Administration_NDC_Adjustment_email"/> 
			 <include name="Test_Administration_NDC_Threshold_breach_email"/>
			 <include name="Test_Administration_Settlement_position_change"/>
			 <include name="Test_validate_the_Email_Format_In_Notifications"/>
			</methods> 
			</class>  
			<class name="Portal.TestCases.FinancialMonitoringTests">
				<methods>
					<include name="Test_Financial_Monitor" />
					<include name="Test_Financial_Monitor_Check_Current_Window" />
					<include name="Test_Financial_Monitor_Check_Window_History" />
					<include name="Test_Financial_Monitor_Check_Financial_Controls_Funds_In" />
					<include name="Test_Financial_Monitor_Financial_Controls_DFSP_stop_transfers" /> 
					<include name="Test_Financial_Monitor_Check_Financial_Controls_Update_NDC1" />
					<include name="Test_Financial_Monitor_Check_Financial_Controls_Update_NDC2" />
					<include name="Test_Financial_Monitor_Check_Financial_Controls_Update_NDC3" />
					<include name="Test_Financial_Monitor_Check_Financial_Controls_Update_NDC4" />
					<include name="Test_Financial_Monitor_Check_Only_Active_Positions_Accounts" />
					<include name="Test_Financial_Monitor_Check_Financial_Controls_Funds_Out" />
					<include name="Test_Disable_Transactions_Hub" />
					<include name="Test_funds_In_Decimal_Value" />
					<include name="Test_funds_Out_Decimal_Value" />
					<include name="Test_fundsIn_Special_Characters" />
					<include name="Test_fundsOut_Special_Characters" />
					<include name="Test_verify_financial_Controls__NDC_Columns" />
					<include name="Test_verify_Outgoing_And_Incoming_Sub_Fields" />
					<include name="Test_verify_Accounts_Sub_Fields" />
					<include name="Test_verify_Position_Sub_Fields" />
					<include name="Test_fundsIn_verify_Zero_value" />
					<include name="Test_fundsOut_verify_Zero_value" />
					<include name="Test_Accounts_Settlement" />
					<include name="Test_Accounts_Position" /> 
					<include name="Financial_Monitoring_Previous_Window" />   
					<include name="settlement_History_For_Fsp" />
				   <include name="currentSettlement_Using_One_CurrencyType_Outgoing_And_Incoming" />  
					<include name="Test_NDC_Average_Percentage" />
					<include name="Test_financialControl_NDC_Currency" />
					<include name="Test_previous_Window_TranscationAverage" />
					<include name="Test_hub_CurrentWindow_Page" />
					<include name="Test_hub_WindowHistory_Page" />
					<include name="Test_hub_FinancialControl_Page" />
					<include name="Test_tabs_Available_On_Hub" />
					<include name="Test_current_SettlementWindow_Using_Multiple_DFSPs_in_One_window" />
					<include name="Test_Window_History_Using_Multiple_DFSPs_in_One_window" />
					<include name="Test_settlement_History_Choose_Invalid_Dates_In_Date_Pickers" />
					<include name="Test_Accounts_Settlement" />
					<include name="Test_Accounts_Position" />
					<include name="Test_Financial_Monitor_Check_Financial_Controls_Update_NDC_special_chars" />
					<include name="Test_Financial_Monitor_Check_Financial_Controls_Update_NDC_decimals" />
					<include name="Review_NDC_Management_participantsID" />
			</methods>
			</class>
			 <class name="Portal.TestCases.SettlementWindowsTests">
			  <methods> 
			  <include name ="Test_Settlement_Window_Close"/>
			  <include name ="Test_Settlement_Window_Dates"/>
			  <include name ="Test_Closing_Settlement_window"/>
			  <include name ="Test_Settlment_Windows_Pagination_Options"/>
			  <include name ="Test_review_Details_Of_Settlement_Windows"/>
			  <include name ="Test_review_Settlment_Window_And_Window_Details"/>
			  <include name ="Test_pagination_settlement_window"/>
			  <include name ="Check_Currency_and_NET_balance"/> 
			  <include name ="Test_settlement_Accounts_Balance"/>
			  <include name ="Test_settlement_Window_Navigation"/>
			  <include name ="Test_ValidateSettlement_Window_Using_One_Currency_Type"/>  
				</methods> 
				</class> 
			<class name="Portal.TestCases.TransfersValidationTests">
			   <methods> 
				<include name ="Test_Transaction_Validation_Invalid_TransferID"/>
				<include name ="Test_Transaction_Validation_Valid_TransferID"/> 
				<include name ="Test_Transaction_Validation_Invalid_characters"/>
				</methods> 
			</class>
		</classes>
	</test>
</suite>